<div class="animated fadeIn">
	<div class="row mx-0">
		<div class="col-12 text-center">
			<h4>
				<img width="50" src="<%= sender.picture; %>" align="absmiddle" /> 
				<%= sender.nickname; %> enviou 
				<%= emote.amount; %> foguete<%= emote.amount > 1 ? "s" : ""; %>.
			</h4>
		</div>
	</div>
</div>