<div id="container-message" class="bot-container">
	<% if (sender.tag.length > 0) { %>
		<strong class="badge badge-primary"><%=sender.tag%></strong>
	<% } %>
	<strong style="color: <%=(sender.isMod) ? "orange": "inherit"%>;"><%-sender.nickname%></strong> <%-message%><br/>
</div>