<div id="app-login" class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<h1 class="mb-3">
		Teus Bot 🤖
		<small>First StreamCraft chatbot</small>
	</h1>

	<h2>Log in with StreamCraft chatbot account</h2>

	<form id="bot-login">
		<input class="form-control mb-1" type="email" name="email" placeholder="Email address" />
		<input class="form-control mb-1" type="password" name="password" placeholder="Password" />

		<button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Login</button>
	</form>

	<center class="my-5"><h3>OR</h3></center>

	<h2>Register a new StreamCraft channel</h2>

	<form id="bot-register">
		<input class="form-control mb-1" type="url" name="channel" placeholder="Your StreamCraft channel URL" />
		<input class="form-control mb-1" type="email" name="email" placeholder="StreamCraft chatbot account email address" />
		<input class="form-control mb-1" type="password" name="password" placeholder="StreamCraft chatbot account password" />

		<button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Request Register</button>
	</form>
</div>