<button class="btn btn-lg btn-primary btn-block mb-3" data-toggle="modal" data-target="#add-timer">
	<i class="fa fa-fw fa-plus"></i>
	Add a new timer
</button>

<div class="list-group">
	<% if (data.timers.length === 0) { %>
		<div class="list-group-item bg-secondary text-muted text-center">
			<h2 class="mb-0">No timer were added :(</h2>
		</div>
	<% } %>
	<% data.timers.forEach((timer) => { %>
		<%-renderTemplate("partials/timer", { timer: timer })%>
	<% });%>
</div>